
.x-axis path, .y-axis path {
  display: none;
}

.rank-line {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.start-dot, .end-dot {
  fill: grey;
}

.tooltip text {
  font-size: 14px;
  font-weight: 700;
  fill: black;
}

.x-axis text {
  font-size: 14px;
  font-weight: 700;
}

.y-axis text {
  font-weight: 700;
  font-size: 16px;
}

text {
      // text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-family: 'Open Sans', sans-serif;
  // opacity: 0.7;
  font-size: 14px;
}

.y-label {
  fill: black;
  font-size: 18px;
  font-weight: 700;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.grid-line {
  stroke: black;
  opacity: 0.2;
  stroke-dasharray: 2,2;
}

.end-label {
  font-size: 14px;
  font-weight: 700;
  fill: black;
  fill-opacity: 0.7;
/*       text-anchor: middle; */
}

/////////////Slider///////////////////
.nav-tabs{
  font-size: 14px;
}


.axisEnhancerID line, .axisEnhancerID path {
  stroke: none;
}

.axisTransciptionFactor line, .axisTransciptionFactor path{
  stroke: none;
}

.axis text {
  font-size: 8px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-family: "Arial";

}

.slider_container {
    margin: 15px 0 0;
}

.slider_value {
    margin: 10px 0;
}

.text_container {
    display: flex;
    font-family: Arial;
    padding: 0 10px;
}

// #slider {
//     margin: 4px 40px 0;
// }
//

//////////////The Resgt

/// slider
.ticks {
  font-size: 5px;
  font-weight: 600;
    }

.slider{
  margin: 200px;
}
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.ttsubhed {
   display:block;
   margin-top:25px;
   font-weight:bold;
}



//////LEGEND
.legend{
        display: flex;
        font-size: 1.0em;
        justify-content: center;
        flex-flow: wrap;
}

#squarebox{
  height: 7px;
    width: 7px;
    display: block;
        padding: 10px;
        border-radius: 50%;
}
.legend_piece{
  display: flex;
  padding: 10px;
  // padding: 10px;
  // margin: 8px;
}

.squareBox1{

    background:#D41B2C;

}

.squareBox2{

    background: #808285;

}

.squareBox3{

    background:#2D2926;

}

.squareBox4{

    background: #B29D6C;

}


//////////Button
#button_container{
  display: flex;
margin-left: auto;
margin-right: auto;
width: 25%;

}

button.chartnav{
  // padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background-color:#385775;
  color:white;
  border: none;
  padding: 8px 22px;
  font-size: 14px;
  text-align: center;
  width: 155px;
    margin-left: 10px;
}

button.chartnav:hover{
  background-color: #baccde; /* Green */
  color: black;
}
