<<<<<<< HEAD

.x-axis path, .y-axis path {
  display: none;
}

.rank-line {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.start-dot, .end-dot {
  fill: grey;
}

.tooltip {
   background-color: white;
   border: solid;
   border-width: 2px;
   border-radius: 5px;
   padding: 5px;
   position: absolute;

   @media (max-width:768px) {
      position: sticky;
      bottom: 0px;
   }
}

.tooltip text {
  font-size: 14px;
  font-weight: 700;
  fill: black;
}

.x-axis text {
  font-size: 14px;
  font-weight: 700;
}

.y-axis text {
  font-weight: 700;
  font-size: 16px;
}

text {
      // text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-family: 'Open Sans', sans-serif;
  // opacity: 0.7;
  font-size: 14px;
}

.ticks text {
   @media (max-width:600px) {
      display:none;
   }
}

.y-label {
  fill: black;
  font-size: 18px;
  font-weight: 700;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.grid-line {
  stroke: black;
  opacity: 0.2;
  stroke-dasharray: 2,2;
}

.end-label {
  font-size: 14px;
  font-weight: 700;
  fill: black;
  fill-opacity: 0.7;
/*       text-anchor: middle; */
}

/////////////Slider///////////////////
.nav-tabs{
  font-size: 14px;
}


.axisEnhancerID line, .axisEnhancerID path {
  stroke: none;
}

.axisTransciptionFactor line, .axisTransciptionFactor path{
  stroke: none;
}

.axis text {
  font-size: 8px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-family: "Arial";

}

.slider_container {
    margin: 15px 0 0;
}

.slider_value {
    margin: 10px 0;
}

.text_container {
    display: flex;
    font-family: Arial;
    padding: 0 10px;
}

// #slider {
//     margin: 4px 40px 0;
// }
//

//////////////The Resgt

/// slider
.ticks {
  font-size: 5px;
  font-weight: 600;
    }

.slider{
  margin: 200px;
}
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.ttsubhed {
   display:block;
   margin-top:25px;
   font-weight:bold;
}



//////LEGEND
.legend{
        display: flex;
        font-size: 1.0em;
        justify-content: center;
        flex-flow: wrap;
}

#squarebox{
  height: 7px;
    width: 7px;
    display: block;
        padding: 10px;
        border-radius: 50%;
}
.legend_piece{
  display: flex;
  padding: 10px;
  // padding: 10px;
  // margin: 8px;
  p {
     margin:0 0 0 7px;
 }
}

.squareBox1{

    background:#D41B2C;

}

.squareBox2{

    background: #808285;

}

.squareBox3{

    background:#2D2926;

}

.squareBox4{

    background: #B29D6C;

}


//////////Button
#button_container{
  display: flex;
  margin-top:50px;
   margin-left: auto;
   margin-right: auto;
   @media (min-width:768px) {
      width: 25%;
   }
}

button.chartnav{
  // padding: 10px;
  font-family: akkurat,sans-serif;
  margin: 0 auto;
  border-radius: 5px;
  background-color:#385775;
  color:white;
  border: none;
  padding: 8px 22px;
  font-size: 14px;
  text-align: center;
  width: 155px;
    margin-left: 10px;
}

button.chartnav:hover{
  background-color: #baccde; /* Green */
  color: black;
}
=======
#scrolly {
    position: relative;
    padding: 1rem;
  }

  #scrolly article {
    position: relative;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto;
  }

g.annotation{
    font-family: akkurat,sans-serif;

    animation: 3s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.annotation-note-content {    font-size: 12px;
}

#text-label-male{
  font-family: akkurat,sans-serif;
    font-size: 30px;
    font-weight: 600;

    animation: 3s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}

#text-label-fem{
font-family: akkurat,sans-serif;
    font-size: 30px;
    font-weight: 600;

    animation: 4s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}
//
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
  figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 50px 0 ;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  // figure p {
  //   text-align: center;
  //   // padding: 10rem;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   -moz-transform: translate(-50%, -50%);
  //   -webkit-transform: translate(-50%, -50%);
  //   transform: translate(-50%, -50%);
  //   font-size: 8rem;
  //   font-weight: 900;
  //   color: #fff;
  // }


  .step {
    margin: 0 auto 2rem auto;
    // margin: 0 auto;
    color: #fff;
    max-width: 35rem;
    // background-color: rgba(0,0,0,0.1);

  }


  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active .content {
      background-color: #3b3b3b;

    // color: #3b3b3b;
    // background-color: #3b3b3b;
  }

  .step .content {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    box-shadow: 0 0 10px 2px rgba(63,63,63,.25);
    font-family: 'Khula', sans-serif;
    border-radius: 10px;
overflow: auto;
    // background-color: #3b3b3b;
    background-color: #e9e9e;
  }

  .x-axis{
      font-size: 13px;
      color:#606060;
      // font-weight: 600;
  }

  .y-axis{
    font-size: 13px;
    color:#606060;

  }
>>>>>>> af72b014df0a06ee00d283653eb1881a9cc64de7
